$mainColor: #DF5453;

.button {
    background: none;
    border: none;
    margin: 0 1vw;
    color: $mainColor;

    &.selected {
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      font-weight: bold;
    }
}
