@import './variables.scss';

.buzzwordWrapper {
    p {
        @extend .paragraphs;
    }

    label {
        font-weight: bold;
        text-align: start;
    }

    .tips {
        margin-top: 5vh;
    }
}