@import './variables.scss';

.conference-item {
    width: 100%;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 5px lightgray;
    text-align: start;
    padding: 20px 20px;
    margin-bottom: 2vh;

    .conference-head {
        .conference-location, .conference-month-year {
            margin-bottom: 0.5rem;
        }
        .conference-days {
            margin-bottom: 0;
        }
        .conference-icon {
            margin-right: 1vw;
        }
        .chevron-icon {
            display: flex;
            justify-content: center;
            margin-bottom: 0;
        }
    }

    .conference-description {
        margin: 1rem 0 0 0;
    }
    .conference-link {
        float: right;
    }
}