@import './variables.scss';

.content {
    margin: 2vh 10vw 0;

    .loading, .error {
        color: $mainColor;
    }
    
    .data-item {
        padding: 15px;
        width: 80vw;
        margin: 20px 0px;
        box-shadow: 0px 0px 5px 1px lightgray;
        background-color: transparent;
        text-align: start;
        display: block;
        border: none;
        .data-content {
            margin-bottom: 0
        }
        .conference-title {
            display: flex;
            justify-content: space-between;
        }
        .conference-description {
            margin-top: 1rem;
        }
    
    }

    .showAllBtn {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        button {
            padding: 15px;
            font-size: 16px;
            border: 1px solid black;
            width: 80vw;
        }
        button:disabled {
            display: none;
        }
    }

}