@import './variables.scss';

.content {
    margin: 4vh 3rem 0;

    .back-btn {
        .back-link {
            color: $blackColor;
            font-size: $pFontSize;
            margin-left: 1vw;
        }
        .back-link:hover {
            text-decoration: none;
            padding-bottom: 2px;
            border-bottom: solid 1px $mainColor;
        }
        margin-bottom: 2vw;
    }
    
    .loading, .error, .notfound {
        display:flex;
        justify-content: center;
        color: $mainColor;
        margin-bottom: 1em;
    }

    .page-link {
        display: block;
        box-shadow: 0px 0px 5px lightgrey;
        padding: 30px 30px;
        margin-bottom: 2vh;
        color: $blackColor;
        font-size: $labelFontSize;
        .page-link-name {
            margin-left: 2vw;
        }
    }

}