
body {
  font-family: 'ApexNew';
}

h1 {
  font-weight: bold;
  font-size: 20px;
}

p {
  font-family: 'Arial';
}


li {
  list-style-type: none;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

table {
  width: 85%;
  border-collapse: collapse;
  text-align: initial;
}
thead tr, tbody tr:hover {
  background-color: rgb(229, 237, 248);
}
th {
  text-align: initial;
  font-size: 1.5em;
  text-transform: uppercase;
  padding: 1em 0;
}
td {
  padding: 1em 0;
}
.tag {
  background: lightsteelblue;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 5%;
}
