.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  background: none;
  border: none;
  margin: 0 1vw;
  color: white;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {

}

/* On screens that are 600px or less, */
@media screen and (max-width: 600px) {
  .App-header {
    flex-direction: column;
  }
}
